.menu{
    width: 40%;
    height: 100%;
    float: left;
}
.eachrow{
    width: 100%;
    margin-left: 20px;
}
.container{
    margin-left: 30px;
}
nav{
    background-color: #ffffff;
}
.menucontainer{
    height: 100%;
}
.menulist{
    margin-left: 60px;
    background-color: #D3D3D3;
    margin-top: 125px;
    padding: 6px;
    height: 500px;
}

.addmenu{
    float: right;
    padding: 6px;
    background-color: #D3D3D3;
}
.menuinput{
    border:none;
    outline: none;
    background-color: #D3D3D3;
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 10px;
}
.faplus{
    color: red;
    margin-left: 200px;
}
.faplus2{
    color: red;
}


.faexpand{
    margin-left: 20px;
}
.faarrowleft{
    margin-left: 20px;
}
ul{
    width: auto;
    float: left;
    margin-top: 8px;
}
li{
    display: inline-block;
    padding: 15px 30px;
}
a{
    text-align: center;
    color: #777;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}
a:hover{
    border-bottom: 2px solid red;
    transition: 0.2s;
}
#all{
    border-bottom: 2px solid red;
}